* {
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  margin-left: 46px;
  margin-right: 46px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.clear {
  clear: both;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.ma-0 {
  margin: 0;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-3 {
  width: 33.33333%;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
.col-full {
  width: 100%;
}
.text-center {
  text-align: center !important;
}
/* button */
.btn {
  color: #fff;
  font-size: 14px;
  background-color: #333;
  border: none;
  border-radius: 80px/80px;
  padding: 14px 48px;
  cursor: pointer;
  transition: 0.5s all;
}
.btn:hover {
  opacity: 0.9;
}
.contentHappyDog__img {
  margin-top: 100px;
}
