.btn {
  background-color: transparent;
  min-width: 140px;
  height: 56px;
  text-decoration: none;
  border: none;
  /* border-radius: 2px; */
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #735a7b;
}
.btn:hover {
  background-color: #f1f1f1;
}
