.btn-all {
  min-width: 140px;
  height: 56px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #735a7b;
}
.btn-all:hover {
  background-color: #f1f1f1;
}
.pad-right {
  padding-right: 12px;
}
.pad-left {
  padding-left: 12px;
}
/* footer */
.footer {
  display: flex;
  background-color: #f6f7f6;
  justify-content: space-between;
}
